<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
<key>CFBundleIdentifier</key><string>dev.leehyowon.klap.mac</string>
<key>CFBundleExecutable</key><string>KLAP</string>
<key>CFBundleName</key><string>KLAP</string>
<key>CFBundleIconName</key><string>KLAP</string>
<key>CFBundleIconFile</key><string>KLAP</string>
<key>CFBundlePackageType</key><string>APPL</string>
<key>CFBundleShortVersionString</key><string>0.1.0</string>
<key>CFBundleVersion</key><string>1</string>
<key>LSMinimumSystemVersion</key><string>13.0</string>
<key>LSUIElement</key><true/>
<key>NSCalendarsUsageDescription</key><string>수업과 학사일정을 캘린더에 동기화합니다.</string>
<key>NSCalendarsFullAccessUsageDescription</key><string>KLAP 일정의 생성과 변경을 동기화합니다.</string>
<key>NSRemindersUsageDescription</key><string>과제와 강의 마감을 미리 알림에 동기화합니다.</string>
<key>NSRemindersFullAccessUsageDescription</key><string>과제와 강의 마감을 미리 알림에 동기화합니다.</string>
</dict></plist>
